@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHvxk.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN8rs-VQ.ttf) format('truetype');
}
* {
  padding: 0;
  margin: 0;
  outline: 0;
}
a,
a:hover {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
ul,
ol {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
span,
i,
input,
form,
img,
a,
label,
.navbar,
.btn {
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
  background: #E5E5E5;
  color: #363840;
}
.normal {
  font-weight: 400;
}
.bold {
  font-weight: 700;
}
h1 {
  font-style: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 58px;
  color: #363840;
  line-height: 73px;
}
.h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #363840;
}
.p {
  font-style: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #999ba2;
}
.pt100 {
  padding-top: 100px;
}
.pb100 {
  padding-bottom: 100px;
}
.ofc {
  object-fit: contain;
}
.btn {
  padding: 12px 10px;
  margin: 1px;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #f16334 !important;
  cursor: pointer;
  color: #f16334 !important;
  background: transparent;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.btn:hover {
  background-color: #f16334 !important;
  border: 1px;
  color: #ffffff !important;
  border-color: #f16334 !important;
}
header {
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
}
header .navbar .menu {
  padding: 30px 0 20px;
}
header .navbar .menu .nav-item {
  margin-right: 20px;
}
header .navbar .menu .nav-item:last-child {
  margin-right: 0;
}
header .navbar .menu .nav-item::after {
  position: absolute;
  content: '';
  width: 0px;
  height: 6px;
  left: 0;
  background: #f16334;
  bottom: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
header .navbar .menu .nav-item:hover::after {
  width: 350px;
}
header .navbar .menu .nav-item .nav-link {
  font-family: 'Lato', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #363840;
}
header .navbar .menu .nav-item .orange {
  color: #f16334;
}
header .navbar .menu .nav-item .nav-link.btn {
  -webkit-transform: translateY(-8px);
  -moz-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  -o-transform: translateY(-8px);
  transform: translateY(-8px);
}
.banner {
  position: relative;
  height: 720px;
}
.banner .slide {
  height: 100%;
}
.banner .slide .carousel-indicators {
  right: unset;
  bottom: 48px;
  left: 4%;
  margin: 0;
}
.banner .slide .carousel-indicators li {
  width: 8px;
  height: 8px;
  background-color: #E2E8F1;
  opacity: 1;
}
.banner .slide .carousel-indicators .active {
  background-color: #f16334;
}
.banner .slide .carousel-inner {
  height: 100%;
}
.banner .slide .carousel-inner .carousel-item {
  height: 100%;
  overflow: hidden;
}
.banner .slide .carousel-inner .carousel-item img {
  height: 100%;
  width: 120%;
}
.banner .details {
  width: 624px;
  padding: 96px 0;
  padding-left: 60px;
  position: absolute;
  left: 0;
  top: 96px;
  background: #ffffff;
}
.banner .details .det_text {
  width: 463px;
}
.banner .details .det_text p {
  padding-top: 16px;
  padding-bottom: 56px;
  font-style: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #999ba2;
}
.title {
  text-align: center;
}
.title h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 24px;
  color: #363840;
  padding-bottom: 56px;
}
.title2 {
  font-size: 16px;
  font-weight: 700;
  color: #363840;
  padding-top: 4px;
}
.company {
  padding-top: 96px;
  padding-bottom: 68px;
  background-color: #dfe3eb;
}
.company .info {
  padding-top: 24px;
  padding-bottom: 32px;
  padding-left: 23px;
  margin-bottom: 30px;
  background-color: #f1eeee;
}
.company .info .heading {
  padding-bottom: 16px;
}
.company .info .heading .icon {
  float: left;
  margin-right: 15px;
  padding: 5px 9px;
  color: #f16334;
  background-color: #f8f6f2;
}
.company .info .heading .title2 {
  font-size: 16px;
  font-weight: 700;
  color: #363840;
  padding-top: 4px;
}
.company .info .exp {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;
  margin-right: 23px;
  color: #75767c;
  font-family: 'Lato', sans-serif;
}
.work {
  padding-top: 56px;
  padding-bottom: 53px;
}
.work .wsam {
  position: relative;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.work .wsam .imgbox {
  object-fit: contain;
}
.work .wsam .view {
  width: 100%;
  position: absolute;
  bottom: 0;
  background: #ffffff;
  -webkit-transition: 0.8s;
  -moz-transition: 0.8s;
  -ms-transition: 0.8s;
  -o-transition: 0.8s;
  transition: 0.8s;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  opacity: 0;
}
.work .wsam .view p {
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  font-family: 'Lato', sans-serif;
  padding: 12px 0;
  line-height: 17px;
}
.work .wsam:hover {
  -webkit-box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.16);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
  transform: scale(1.02);
}
.work .wsam:hover .view {
  -webkit-opacity: 1;
  -moz-opacity: 1;
  opacity: 1;
}
.more {
  padding-top: 57px;
  text-align: center;
  color: #f16334;
}
.more a {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  color: #f16334;
  line-height: 20px;
  padding-right: 12px;
}
.service {
  padding-top: 96px;
  padding-bottom: 96px;
  background-color: #dfe3eb;
}
.service .sample {
  background-color: #f1eeee;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.service .sample .srv-img img {
  object-fit: contain;
}
.service .sample .srv-det {
  padding: 32px 0;
}
.service .sample .srv-det .title2 {
  font-size: 16px;
  font-weight: 700;
  color: #363840;
  padding-top: 4px;
  font-size: 18px;
  text-align: center;
}
.service .sample .srv-det .exp2 {
  font-style: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #999ba2;
  padding: 16px 25px 48px 25px;
  line-height: 23px;
  font-size: 14px;
  text-align: center;
}
.service .sample .srv-det .more {
  padding-top: 0;
}
.service .sample::after {
  position: absolute;
  content: '';
  width: 0px;
  height: 6px;
  left: 0;
  background: #f16334;
  bottom: 0;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.service .sample:hover {
  -webkit-box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.16);
  box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.16);
  -webkit-transform: scale(1.001);
  -moz-transform: scale(1.001);
  -ms-transform: scale(1.001);
  -o-transform: scale(1.001);
  transform: scale(1.001);
}
.service .sample:hover::after {
  width: 350px;
}
