@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6uyw4BMUTPHvxk.ttf) format('truetype');
}
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/lato/v17/S6u9w4BMUTPHh6UVew8.ttf) format('truetype');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/opensans/v18/mem5YaGs126MiZpBA-UN8rs-VQ.ttf) format('truetype');
}
* {
  padding: 0;
  margin: 0;
  outline: 0;
}
a,
a:hover {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
ul,
ol {
  list-style-type: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
span,
i,
input,
form,
img,
a,
label,
.navbar,
.btn {
  padding: 0;
  margin: 0;
}
body {
  overflow-x: hidden;
  background: #E5E5E5;
}
.normal {
  font-weight: 400;
}
.bold {
  font-weight: 7000;
}
.h1 {
  font-style: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 58px;
  color: #363840;
}
.pt100 {
  padding-top: 100px;
}
.pb100 {
  padding-bottom: 100px;
}
.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.header .navbar .menu {
  padding: 30px 0 20px;
}
.header .navbar .menu .nav-item {
  margin-right: 20px;
  position: relative;
}
.header .navbar .menu .nav-item:last_child {
  margin-right: 0;
}
.header .navbar .menu .nav-item .span {
  color: #f16334;
}
