@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@800&display=swap');

* {
    padding: 0;
    margin: 0;
    outline: 0;
}

a,
a:hover {
    text-decoration: none;
}

img {
    vertical-align: middle;
}

ul,
ol {
    list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
span,
i,
input,
form,
img,
a,
label,
.navbar,
.btn {
    padding: 0;
    margin: 0;
}

@open: 'Open Sans', sans-serif;
@lato: 'Lato', sans-serif;
@pureblack: #000000;
@black: #363840;
@grey: #999BA2;
@grey2: #7B7D84;
@orange: #F16334;
@stroke: #DFE3EB;
@white: #ffffff;
@alert: #FE4747;

body {
    overflow-x: hidden;
    background: #E5E5E5;
    color: @black;
}

.normal {
    font-weight: 400;
}

.bold {
    font-weight: 700;
}

h1 {
    font-style: @open;
    font-weight: 800;
    font-size: 58px;
    color: @black;
    line-height: 73px;
}

.h3 {
    font-family: @open;
    font-weight: 700;
    font-size: 24px;
    color: @black;
}

.p {
    font-style: @lato;
    font-weight: 400;
    font-size: 16px;
    color: @grey;
}

.shadow (@string) {
    -webkit-box-shadow: @string;
    -moz-box-shadow: @string;
    box-shadow: @string;
}

.radius (@radius) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    border-radius: @radius;

    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
}

.opacity (@opacity) {
    -webkit-opacity: @opacity;
    -moz-opacity: @opacity;
    opacity: @opacity;
}

.animation (@name, @duration: 300ms, @delay: 0, @ease: ease) {
    -webkit-animation: @name @duration @delay @ease;
    -moz-animation: @name @duration @delay @ease;
    -ms-animation: @name @duration @delay @ease;
    animation: @name @duration @delay @ease;
}

.transition (@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -ms-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}

.transform(@string) {
    -webkit-transform: @string;
    -moz-transform: @string;
    -ms-transform: @string;
    -o-transform: @string;
    transform: @string;
}

.pt100 {
    padding-top: 100px;
}

.pb100 {
    padding-bottom: 100px;
}

.ofc {
    object-fit: contain;
}

.btn {
    padding: 12px 10px;
    margin: 1px;
    .radius(0);
    border: 1px solid @orange  !important;
    cursor: pointer;
    color: @orange  !important;
    background: transparent;
    .transition(0.4s);

    &:hover {
        background-color: @orange  !important;
        border: 1px;
        color: @white  !important;
        border-color: @orange  !important;
    }
}

header {
    top: 0;
    left: 0;
    right: 0;
    background-color: @white;

    .navbar {
        .menu {
            padding: 30px 0 20px;

            .nav-item {
                margin-right: 20px;

                &:last-child {
                    margin-right: 0;
                }

                &::after {
                    position: absolute;
                    content: '';
                    width: 0px;
                    height: 6px;
                    left: 0;
                    background: @orange;
                    bottom: 0;
                    .transition(0.4s);
                }

                &:hover {

                    &::after {
                        width: 350px;
                    }

                }

                .nav-link {
                    font-family: @lato;
                    font-size: 14px;
                    .normal;
                    color: @black;
                }

                .orange {
                    color: @orange;
                }

                .nav-link.btn {
                    .transform(translateY(-8px));
                }
            }
        }
    }
}

.banner {
    position: relative;
    height: 720px;

    .slide {
        height: 100%;

        .carousel-indicators {
            right: unset;
            bottom: 48px;
            left: 4%;
            margin: 0;

            li {
                width: 8px;
                height: 8px;
                background-color: #E2E8F1;
                opacity: 1;
            }

            .active {
                background-color: @orange;
            }
        }

        .carousel-inner {
            height: 100%;


            .carousel-item {
                height: 100%;
                overflow: hidden;

                img {
                    height: 100%;
                    width: 120%;
                }
            }
        }
    }

    .details {
        width: 624px;
        padding: 96px 0;
        padding-left: 60px;
        position: absolute;
        left: 0;
        top: 96px;
        background: @white;

        .det_text {
            width: 463px;

            p {
                padding-top: 16px;
                padding-bottom: 56px;
                .p;
            }
        }
    }
}

.title {
    text-align: center;

    h3 {
        .h3;
        padding-bottom: 56px;
    }
}

.title2 {
    font-size: 16px;
    .bold;
    color: @black;
    padding-top: 4px;
}

.company {
    padding-top: 96px;
    padding-bottom: 68px;
    background-color: @stroke;



    .info {
        padding-top: 24px;
        padding-bottom: 32px;
        padding-left: 23px;
        margin-bottom: 30px;
        background-color: #f1eeee;

        .heading {
            padding-bottom: 16px;

            .icon {
                float: left;
                margin-right: 15px;
                padding: 5px 9px;
                color: @orange;
                background-color: rgb(248, 246, 242);
            }

            .title2 {
                .title2;
            }

        }

        .exp {
            font-weight: 400;
            font-size: 12px;
            line-height: 20px;
            margin-right: 23px;
            color: #75767c;
            font-family: @lato;
        }
    }
}

.work {
    padding-top: 56px;
    padding-bottom: 53px;

    .wsam {
        position: relative;
        .transition(0.4s);

        .imgbox {
            .ofc;
        }

        .view {
            width: 100%;
            position: absolute;
            bottom: 0;
            background: @white;
            .transition(0.8s);
            .opacity(0);

            p {
                text-align: center;
                font-size: 14px;
                .bold;
                font-family: @lato;
                padding: 12px 0;
                line-height: 17px;
            }


        }

        &:hover {
            .shadow (0px 12px 30px rgba(0, 0, 0, 0.16));
            .transform(scale(1.02));

            .view {
                .opacity (1);
            }
        }
    }


}

.more {
    padding-top: 57px;
    text-align: center;
    color: @orange;

    a {
        font-size: 16px;
        font-family: @lato;
        .bold;
        color: @orange;
        line-height: 20px;
        padding-right: 12px;
    }
}

.service {
    padding-top: 96px;
    padding-bottom: 96px;
    background-color: @stroke;

    .sample {
        background-color: #f1eeee;
        .transition(0.4s);

        .srv-img {
            img {
                .ofc;
            }
        }

        .srv-det {
            padding: 32px 0;

            .title2 {
                .title2;
                font-size: 18px;
                text-align: center;
            }

            .exp2 {
                .p;
                padding: 16px 25px 48px 25px;
                line-height: 23px;
                font-size: 14px;
                text-align: center;
            }

            .more {
                padding-top: 0;
            }
        }

        &::after {
            position: absolute;
            content: '';
            width: 0px;
            height: 6px;
            left: 0;
            background: @orange;
            bottom: 0;
            .transition(0.4s);
        }

        &:hover {
            .shadow (0px 12px 30px rgba(0, 0, 0, 0.16));
            .transform(scale(1.001));

            &::after {
                width: 350px;
            }

        }
    }
}